
$background-Header:rgba(49, 122, 15, 0.75);
$background-button:rgba(227, 236, 223, 0.616);
$background-button-hover: rgba(227, 236, 223, 0.444);
// 


$background-Filter:#313685;

$background-more-detail:red;

$color-blue:#0091e2;
$color-white:white;

$common-radius: 0.25rem;

//screen
$padding-canceled-breakepoint:1283px;
$larger-header-width-1:1100px;
$larger-header-width-2:1000px;
$larger-header-width-3:950px;

$bigScreen-BreakPoint:895px;