/* only reapeted elements attributes common attributes which barely change*/
.small-close-Modal{
  /* color:green;  */
  font-size:32px;;
  pointer-events:all;
  height:32px;
  line-height:32px;
  width:32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  color: #42526e;
  cursor: pointer;
}
/* .add-card-btn{
  background-color: rgb(0, 34, 128);

} */
.add-card-btn:hover{
  background-color: rgba(9,30,66,.08);

}